@import url(./__image/places__image.css);


.places{
    display: flex;
    margin: 68px 92px 68px  92px;
    flex-direction: column;
    row-gap: 60px;
    max-width: 980px;
}

@media screen and (max-width: 425px){
   .places {
        max-width: 301px;
        margin: 0 00 0;    
   }
}