@import url(./__image/places__image.css);


.places{
    display: flex;
    margin: 68px 92px 68px  92px;
    flex-direction: column;
    row-gap: 80px;
    max-width: 984px;
}




@media screen and (max-width: 1024px){
    .places {
         margin: 0 0 68px 0;    
         max-width: 928px;
    }
 }




 @media screen and (max-width: 768px){
     .places {
          margin: 0 0 68px 0;    

     }
  }
 




@media screen and (max-width: 425px){
   .places {
        max-width: 301px;
        margin: 0 0 0 0;    
   }
}