.lead__mountains {
  max-height: 615px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__mountains {
    margin-left: 48px;
    margin-right: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__mountains {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead__mountains {
    max-width: 320px;
  }
}