.header__lang-en-links {
    color: #ffffff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
}

@media screen and (max-width: 768px){
    .header__lang-en-links {
        font-size: 18px;
        line-height: 1.33;
    }
   }


   @media screen and (max-width: 425px){
    .header__lang-en-links{
        max-width: 165px;
        max-height: 36px;
        
    }
   }

