@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-en-links/header__lang-en-links.css);
@import url(./__lang-es-links/header__lang-es-links.css);





.header {
    display: flex;
    margin: 0 auto;
    height: 44px;
    width: 984px;
    padding-top: 34px;
    border-radius: 0px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .header{
        max-width: 928px;
        margin: auto;
      
    }  
}

@media screen and (max-width: 768px){
 .header {
     max-width: 720px;
 }
}

@media screen and (max-width: 425px){
    .header {
        max-width: 288px;
    }
   }