.place__text {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
    color: #FFFFFF;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .place__text {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
        max-width: 352px;
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 425px) {
    .place__text {
        line-height: 26.08px;
        max-width: 288px;
        margin: 0 16px 25px 16px;
    }
}