@import url(./__link/cover__link.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
    max-width: 1184px;
    margin: 0 auto 50px auto;
}

@media screen and (max-width: 425px) {
    .cover {
        margin-top: 30px;
    }
}