@import url(./__title/place__title.css);
@import url(./__link/place__link.css);
@import url(./__site/place__site.css);
@import url(./__text/place__text.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__image/place__image.css);
.place {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) auto;
    grid-auto-rows: auto auto;
    margin: 92px auto 92px;
    box-sizing: border-box;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 454px 1fr;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 345px 1fr;
        max-width: 720px;
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: 1fr;
    }
}