@import url(./__title/place__title.css);
@import url(./__link/place__link.css);
@import url(./__site/place__site.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__text/place__text.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__image/place__image.css);
.place {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) auto;
    grid-auto-rows: auto auto;
    grid-column-gap: 40px;
    margin: 0 0 0 80px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 456px 1fr;
        grid-column-gap: 20px;
        margin: 0 0 65px 40px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 345px 1fr;
        grid-column-gap: 32px;
        max-width: 720px;
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: 1fr;
    }
}