@import url(./__menu/footer__menu.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__author/footer__author.css);

.footer{
    display: flex;
    margin: 0 auto;
    padding: 20px;
    max-width: 1180px;
}

@media screen and (max-width: 1020px){
  .footer {  
      max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .footer {
      margin: 0 24px 0;
      max-width: 768px;
  }
} 

@media screen and (max-width: 425px){
    .footer {
        flex-direction: column;
        margin-left: 16px;
        padding-top: 35px;
        padding: 0;
    }
}