.place__url-heading { 
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
    margin: 0;
}




@media screen and (max-width: 425px){
    .place__url-heading {
       color: #2A2C2F;
         
    }
 }