.lead__mountains-caption {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .lead__mountains-caption {
    padding-left: 48px;
  }
}

@media screen and (max-width: 812px) {
  .lead__mountains-caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320x) {
  .lead__mountains-caption {
    padding-left: 16px;
  }
}